body {
  font-family: Arial;
  margin: 0;
  background: #f7f7f7;
  display: grid;
  justify-items: center;
  gap: 40px;
  margin-top: 60px;
}

h1,
h2,
h3,
h4,
ul {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 20px;
  margin: 0;
}

li {
  list-style: none;
}

header {
  display: grid;
  justify-items: center;
  gap: 40px;
}

.menu {
  display: flex;
  gap: 15px;
}

.menu a{
  background: #ffffff;
  color: #000000;
  padding: 10px 25px;
  border-radius: 4px;
  text-transform: uppercase;
  border: 2px solid #ffffff;
}

.menu a:hover {
  border: 2px solid #ee2211;
}

.grid-container {
  display: grid;
  max-width: 1000px;
  grid-template-columns: 1fr 1fr;
}

.bike-content {
  position: relative;
  display: grid;
  place-items: center end;
  align-content: center;
  gap: 20px;
  background: #ffffff;
  padding: 40px;
  text-align: end;
}

.bike-content::before {
  content: "";
  background: #ee2211;
  width: 60px;
  height: 4px;
  position: absolute;
  top: 20px;
  right: -30px;
}

.bnt-content {
  background: #ee2211;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 4px;
  text-transform: uppercase;
}

.bnt-content:hover {
  background-color: #900;
}

.vantagens {
  padding: 40px;
  font-size: 64px;
  align-self: center;
  justify-self: end;
  text-align: end;
  color: #c6c6c6;
  text-transform: uppercase;
  background-image: url(./img/onda.svg);
}

.bike-info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  padding: 15px;
  border-left: 3px solid #ffffff;
}

.bike-info:nth-child(odd) {
  background-color: #f7f7f7;
  border-left: 3px solid #f7f7f7;
}

.bike-info:hover {
  border-left: 3px solid #ee2211;
}

.info {
  display: grid;
  gap: 40px;
  background: #ffffff;
  padding: 40px;
}

.bike-info p {
  grid-column: 2;
}

.footer {
    background: #ffffff;
    width: 100vw;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}
